# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\drinktoo\screen_flash\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
